/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  background: var(--color-surface);
  padding: var(--spacing-5) var(--spacing-4);
  box-shadow: var(--shadow);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.sidebar li {
  padding: var(--spacing-3);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}

.sidebar li:hover,
.sidebar li.active {
  background-color: var(--color-primary);
  color: white;
}

/* Content area */
.content {
  /* margin-left: 240px; чтобы не заезжало на меню */
  padding: var(--spacing-6);
  flex: 1;
}

/* Table inside card */
.item-list table {
  width: 100%;
  border-collapse: collapse;
}

.item-list th,
.item-list td {
  padding: var(--spacing-3);
  border-bottom: 1px solid var(--color-secondary);
  text-align: left;
}
