{{ define "base" }}
<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{ template "title" .}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <div>
      {{template "header" .}}
    </div>
    <div>
      {{template "main" .}}
    </div>
    {{ template "confirm" . }} 
    <div>
      {{template "footer" .}}
    </div>
    <script src="/static/js/toast.js"></script>
    <script src="/static/js/confirm.js"></script>
  </body>
  <div id="toast-container"></div>
  <div id="confirm-modal" class="modal hidden" aria-hidden="true">
    <div class="modal-content">
      <h3 id="confirm-title">Подтверждение</h3>
      <p id="confirm-message">Вы уверены?</p>
      <div class="flex justify-end gap-2 mt-4">
        <button id="confirm-cancel" class="btn">Отмена</button>
        <button id="confirm-ok" class="btn btn-primary">ОК</button>
      </div>
    </div>
</div>

</html>
{{ end }}