{{/* TODO: загрузка хедера исходя из роли */}}

{{define "header"}}
<!-- Хедер -->
    <div class="header-container">
        <!-- Левая часть - навигационные кнопки -->
        <nav class="nav-menu">
            <a href="/production">
                <button class="nav-button">
                Производство
                </button>
            </a>
            <button class="nav-button">
                Перемещения
            </button>
            <button class="nav-button">
                Администрирование
            </button>
        </nav>

        <!-- Правая часть - управление аккаунтом -->
        <div class="account-section">
            <button class="account-button">
                <span>Аккаунт</span>
            </button>
        </div>
    </div>
{{end}}