{{define "header"}}
<div class="header-container">
    <!-- Левая часть - навигационные кнопки -->
    <nav class="nav-menu">
        <a href="/inventory" class="nav-button">Запасы</a>
        <a href="/production" class="nav-button">Произодство</a>
        <a href="/movement" class="nav-button">Перемещение</a>
        <a href="/users" class="nav-button">Пользователи</a>
    </nav>

    <!-- Правая часть - управление аккаунтом -->
    <div class="account-section">
        {{if .CurrentUser}}
            <div class="account-user">
                <span class="account-user-name">
                    {{ .CurrentUser.FullName }}
                </span>
                {{if .CurrentUser.Role}}
                    <span class="account-role-badge">
                        {{ .CurrentUser.Role }}
                    </span>
                {{end}}
            </div>

            <a href="/signout" class="account-button">
                Выйти
            </a>
        {{else}}
            <a href="/signin" class="account-button">
                Войти
            </a>
        {{end}}
    </div>
</div>
{{end}}
